// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FFA552;
$green: #87D68D;
$gray: #000000;
$light-gray: #F4F4F4;

$parc-green: #87D68D;
$parc-orange: #FE5D26;
$parc-lightorange: #FFA552;
$parc-white: #f5f9fa;
$parc-grey: #D2BC9E;
$parc-black: rgb(72,72,72);

$text-color: rgb(72,72,72);
