.card-team {
  height: 365px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.card-titles {
  transform: translateY(270px);
  position: absolute;
  color: white;
  padding: 0 10px;
  transition: ease 400ms all;
}

.card-content {
  position: absolute;
  bottom: 0;
  transition: ease 500ms all;
  color: white;
  padding: 10px;
  transform: translateY(150%);
  transition-delay: 100ms;
}

.card-filter {
  position: absolute;
  transform: translateY(50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  transition: ease 300ms all;
  transition-delay: 50ms;
}

.card-team:hover {

  .card-titles {
    top: 0;
    transform: translateY(0%);
  }
  .card-content {
    transform: translateY(0);
  }

  .card-filter {
    transform: translateY(0);
  }
}
