
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,184,169,0.2) 0%, rgba(0,79,73,0.1) 50%), url(<%= asset_path 'banner-owl.png' %>);">
  <div class="banner-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="text-center">
              LE PARC SAUVAGE
            </h1>
            <%= render "shared/features" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
