
<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <div class="feature-card text-center">
        <div class="feature-card-img d-flex align-items-center justify-content-center">
          <%= image_tag "rabbit.png" %>
          <!-- <img src="https://png.icons8.com/cotton/100/000000/certificate.png"> -->
        </div>
        <div class="feature-card-body">
          <div class="feature-card-body-title">
            <h3>Mini-ferme pédagogique</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="feature-card text-center">
        <div class="feature-card-img d-flex align-items-center justify-content-center">
          <%= image_tag "eagle.png" %>
          <!-- <img src="https://png.icons8.com/cotton/100/000000/create-new.png"> -->
        </div>
        <div class="feature-card-body">
          <div class="feature-card-body-title">
            <h3>Fauconnerie</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="feature-card text-center">
        <div class="feature-card-img d-flex align-items-center justify-content-center">
          <%= image_tag "goat.png" %>
          <!-- <img src="https://png.icons8.com/cotton/100/000000/clouds.png"> -->
        </div>
        <div class="feature-card-body">
          <div class="feature-card-body-title">
            <h3>Parc de vision</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="feature-card text-center">
        <div class="feature-card-img d-flex align-items-center justify-content-center">
          <%= image_tag "owl.png" %>
          <!-- <img src="https://png.icons8.com/cotton/100/000000/clouds.png"> -->
        </div>
        <div class="feature-card-body">
          <div class="feature-card-body-title">
            <h3>Centre de Sauvegarde</h3>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
