<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/circasvolerie/" target="_blank"><i class="fab fa-instagram" ></i></a>
    <a href="https://www.facebook.com/jack.parcsauvage.1?ref=br_rs" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter" target="_blank"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site fait avec <i class="fa fa-heart"></i> par Le Wagon
  </div>
</div>
