<%= render 'shared/banner' %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Hello</h1>
      <%= link_to 'toto', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>

<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
<p>bite</p>
