<div class="presentation text-center">
  <h1>Notre équipe</h1>
  <br>
  <h5>Nous vous présentons notre équipe de bénévoles présente toute l'année pour vous accueillir et pour soigner les animaux.</h5>
</div>


  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card-team" style="background-image: url(<%= image_path "Alexandre.jpg" %>)">
          <div class="card-filter"></div>
          <div class="card-infos">
            <div class="card-titles">
              <h3 class="card-title">Alexandre</h3>
              <p class="card-subtitle">Bénévole</p>
            </div>
            <div class="card-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi saepe corporis quae laborum facere, asperiores facilis. Iste magnam culpa incidunt quam ratione eaque voluptatum blanditiis hic expedita aliquid ea, laudantium!
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-team" style="background-image: url(<%= image_path "Alexandre2.jpg" %>)">
          <div class="card-filter"></div>
          <div class="card-infos">
            <div class="card-titles">
              <h3 class="card-title">Benjamin</h3>
              <p class="card-subtitle">Bénévole</p>
            </div>
            <div class="card-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi saepe corporis quae laborum facere, asperiores facilis. Iste magnam culpa incidunt quam ratione eaque voluptatum blanditiis hic expedita aliquid ea, laudantium!
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-team" style="background-image: url(<%= image_path "Alexandre2.jpg" %>)">
          <div class="card-filter"></div>
          <div class="card-infos">
            <div class="card-titles">
              <h3 class="card-title">Théo</h3>
              <p class="card-subtitle">Bénévole</p>
            </div>
            <div class="card-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi saepe corporis quae laborum facere, asperiores facilis. Iste magnam culpa incidunt quam ratione eaque voluptatum blanditiis hic expedita aliquid ea, laudantium!
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-team" style="background-image: url(<%= image_path "Alexandre2.jpg" %>)">
          <div class="card-filter"></div>
          <div class="card-infos">
            <div class="card-titles">
              <h3 class="card-title">Stéphane</h3>
              <p class="card-subtitle">Bénévole</p>
            </div>
            <div class="card-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi saepe corporis quae laborum facere, asperiores facilis. Iste magnam culpa incidunt quam ratione eaque voluptatum blanditiis hic expedita aliquid ea, laudantium!
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


