<div class="presentation text-center">
  <h1>Notre équipe</h1>
  <br>
  <h5>Nous vous présentons notre équipe de bénévoles présente toute l'année pour vous accueillir et pour soigner les animaux.</h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card-team">
        <%= image_tag "benjamin.png", class: "avatar-img"%>
        <div class="card-infos">
          <h2>Benjamin</h2>
          <h4>Bénévole</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus elit, volutpat molestie sapien eget.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card-team">
        <%= image_tag "benjamin.png", class: "avatar-img"%>
        <div class="card-infos">
          <h2>Benjamin</h2>
          <h4>Bénévole</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus elit, volutpat molestie sapien eget.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card-team">
        <%= image_tag "benjamin.png", class: "avatar-img"%>
        <div class="card-infos">
          <h2>Benjamin</h2>
          <h4>Bénévole</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus elit, volutpat molestie sapien eget.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card-team">
        <%= image_tag "benjamin.png", class: "avatar-img"%>
        <div class="card-infos">
          <h2>Benjamin</h2>
          <h4>Bénévole</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus elit, volutpat molestie sapien eget.</p>
        </div>
      </div>
    </div>

  </div>
</div>



