<h1>Notre équipe</h1>


<div class="col-xs-3">
  <img src="https://www.littlecigogne.com/media/wysiwyg/LittleCigogne/Home/Styliste_Anne-Laure.png" class="img-responsive">
</div>
<div class="col-xs-9">
  <p>Anne-Laure</p>
  <span class="slide-texte">Styliste chez Little Cigogne</span>
</div>
