<h1>Notre équipe</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8col-md-8">
      <div class="card-team">
        <%= image_tag "benjamin.png", class: "avatar-img"%>
        <div class="card-infos">
          <h2>Benjamin</h2>
          <h4>Bénévole</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus elit, volutpat molestie sapien eget.</p>
        </div>
      </div>
    </div>
  </div>
</div>



