<h1>Notre équipe</h1>


<div class="col-xs-3">
  <div class="avatar">
    <%= image_tag "benjamin.png", class: "avatar-img"%>
  </div>
</div>
<div class="col-xs-9">
  <p>Benjamin</p>
  <p>Bénévole</p>
</div>
