<div class="container">
  <div class="wrap-contact wrap-image back-img" style="background-image: url(<%= asset_path 'image.png' %>);">
    <div></div>
    <div class="row">
      <div class="col text-center">
        <br>
        <h2>Merci de votre achat et à très bientôt !</h1>
        <%= link_to 'Télécharger mon billet', ticketing_ticket_path(@ticket, format: :pdf), target: "_blank", class: 'button' %>
      </div>
    </div>
  </div>
</div>
