.button {
  color: #2c2828 !important;
  border: 1px solid #2c2828;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.6;
  text-decoration: none;
  margin: 6px;
  display: inline-block;
  background: white;
  margin: 10px;
  font-size: 20px;
}
a.button:hover {
  opacity: 1;
  text-decoration: none !important;
  color: #2c2828;
}

#button-news {
  font-size: 12px;
}
