.section {
  display: flex;
  width : auto;
  position: relative;
}

.section img {
  height: 400px;
  width: 50vw;
  object-fit: cover;
}

.description {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  padding: 0 25px;
  margin: 0 40px;
  width: 50vw;
}

.wrapper-orange {
 background: $parc-lightorange;
}

.wrapper-white {
 background: white;
}

.margin-top-null {
  margin-top: 0 !important;
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -70px;
    left: 0;
    visibility: hidden;
}
