.wrap-contact {
  background-color: white;
  padding: 30px;
  min-height: calc(100vh - 140px);
}
.wrap-contact p {
  padding-left: 35px;
}

.wrapper-feed {
  padding: 30px 0;
}

.wrap-image {
  display:flex;
  justify-content: center;
  color: white;
}

.back-img {
  background-size: cover;
}
