// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl";

// Your CSS partials
// @import "layouts/index";
@import "components/index";
@import "components/button";
@import "pages/index";
@import "posts/posts";
// @import "posts/index";

body {
  color: $parc-black;
  min-height: 150vh;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

