// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-index img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.photo-show img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.post-title-index {
  font-size: 20px;
}


.post-card-index {
  background: white;
  margin: 5px auto;
  padding: 15px;
  border-radius: 3px;
  overflow: auto;
  padding-bottom: 2px;
}

.post-title-index {
  padding: 15px;
}

.photo-index {
  padding: 15px;
}

.post-content-index {
  padding: 15px;
  font-size: 14px;
  position: relative;
}
.content-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
}

